:root
{
    --light-green-color: #E1EDE6;
    --black-color: #2C2D35;
    --font: "Raleway", sans-serif;
    --main-font-size: 20px;
    --green-color: #598D66;
    --grey-color: #86928B;
    --medium-font-size: ;
}
*
{
    margin: 0;
    padding: 0;
}
body
{
    font-family: var(--font);
    color: var(--black-color);
}
button
{
    font-family: var(--font);
}
.container
{
    margin: 0 auto;
}
@media (min-width: 1440px)
{
    .container
    {
        max-width: 1110px;
    }
    .about-title
    {
        font-size: 60px;
    }
}
.header
{
    background-color: var(--light-green-color);
}
.header-flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0 32px 0;
}
.header-link
{
    color: var(--black-color);
    text-decoration: none;
    font-weight: 500;
    margin-right: 60px;
}
.header-button::after
{
    content: url(assets/cart.svg);
}
.header-button
{
    background: none;
    border: none;
}
.header-links
{
    display: flex;
    align-items: center;
}
.about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-title
{
    font-weight: 500;
}
.about-title span
{
    color: var(--green-color);
}
.about-text
{
    color: var(--grey-color);
    font-size: var(--medium-font-size);
}